[submodule "Spring_study"]
	path = Spring_study
	url = git@github.com:SeoHyungjun/Spring_study.git
[submodule "Android_APP"]
	path = Android_APP
	url = git@github.com:SeoHyungjun/Android_APP.git
[submodule "NLP_study"]
	path = NLP_study
	url = git@github.com:SeoHyungjun/NLP_study.git
[submodule "Python_study"]
	path = Python_study
	url = git@github.com:SeoHyungjun/Python_study.git
[submodule "Java_study"]
	path = Java_study
	url = git@github.com:SeoHyungjun/Java_study.git
[submodule "ML_study"]
	path = ML_study
	url = git@github.com:SeoHyungjun/ML_study.git
[submodule "Golf_Teacher"]
	path = Golf_Teacher
	url = git@github.com:SeoHyungjun/Golf_Teacher.git
[submodule "FastConnectBluetooth"]
	path = FastConnectBluetooth
	url = git@github.com:SeoHyungjun/FastConnectBluetooth.git
